$app-font-size-min: 10px;
$app-font-size-small: 12px;
$app-font-size: 14px;
$app-font-size-medium: 16px;
$app-font-size-large: 18px;
$app-font-size-xlarge: 24px;
$app-font-size-xxlarge: 28px;

$app-text-color: #231815;

$error-text-color: #b30625;





